body {
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

body,
h1 {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: hsl(222, 27%, 30%);
  color: yellow;
  overflow: hidden;
  width: 100%;
  height: 100px;
  /* Use Flexbox to center the text */
  display: flex;
  /* Centers the content horizontally */
  justify-content: center;
  /* Centers the content vertically */
  align-items: center;
}

.container {
  color: antiquewhite;
  font-size: 25px;
}

.message-1 {
  padding-left: 85px;
  margin: 20px;
  display: flex;
  flex-direction: column; /* Stacks the items vertically */
  gap: 20px; /* Adds 20px space between each <p> tag */
}

.message-2 {
  padding-left: 80px;
  margin: 20px;
  display: block;
  flex-direction: column-reverse; /* Stacks the items vertically */
  gap: 20px; /* Adds 20px space between each <p> tag */
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: white;
  padding: 20px;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 50px; */
  flex-direction: column;
}

.overlay {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: lab(32.49% 15.57 29.26); */
  background-color: rgba(255, 0, 0, 0.8);
}

.gameOver {
  background-color: hsl(222, 27%, 30%);
  /* position: relative; */
  width: 200px;
  height: 50px;
  /* cursor: pointer; */
  border-radius: 8px;
  border: none;
  color: antiquewhite;
  font-size: 20px;
  /* padding-top: 15px; */
  display: flex;
  flex-direction: column; /* Stacks children (p and button) one under the other */
  align-items: center;
  justify-content: center;
}

.newGame {
  background-color: hsl(222, 27%, 30%);
  /* position: fixed; */
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  color: antiquewhite;
  font-size: 20px;
  /* padding-left: 80px; */
  display: flex;
  flex-direction: column; /* Stacks children (p and button) one under the other */
  align-items: center;
  justify-content: center;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.player-0 {
  padding-left: 10px;
}

.computer-0 {
  padding-left: 100px;
}

.emojis {
  padding: 32px;
  font-size: 60px;
  flex-direction: column;
  align-items: center;
}

#rock,
#paper,
#scissors {
  background-color: hsl(222, 27%, 30%);
  width: 120px;
  height: 120px;
  font-size: 75%;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.3s ease;
  border: none;
}

.newGame:hover {
  background-color: #4320df; /* New background color on hover */
  transform: scale(1.05);
}

#rock:hover {
  background-color: #4320df; /* New background color on hover */
  transform: scale(1.05);
}

#paper:hover {
  background-color: #4320df; /* New background color on hover */
  transform: scale(1.05);
}

#scissors:hover {
  background-color: #4320df; /* New background color on hover */
  transform: scale(1.05);
}

.choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  width: 100%;
  padding-top: 70px;
  font-size: 70px;
}

#player-choice {
  padding-left: 100px;
}

#computer-choice {
  padding-right: 100px;
}
