body {
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

body,
h1 {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: hsl(222, 27%, 30%);
  color: yellow;
  overflow: hidden;
  width: 100%;
  height: 100px;
  /* Use Flexbox to center the text */
  display: flex;
  /* Centers the content horizontally */
  justify-content: center;
  /* Centers the content vertically */
  align-items: center;
}

.container {
  color: antiquewhite;
  font-size: 25px;
}

.text-1 {
  padding-left: 75px;
  margin: 20px;
  display: flex;
  flex-direction: column; /* Stacks the items vertically */
  gap: 20px; /* Adds 20px space between each <p> tag */
}

.text-2 {
  padding-left: 20px;
  margin: 20px;
  display: block;
  flex-direction: column-reverse; /* Stacks the items vertically */
  gap: 20px; /* Adds 20px space between each <p> tag */
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.player-0 {
  padding-left: 10px;
}

.computer-0 {
  padding-left: 100px;
}

.emojis {
  padding: 32px;
  font-size: 60px;
  flex-direction: column;
  align-items: center;
}

.rock,
.paper,
.scissors {
  background-color: hsl(222, 27%, 30%);
  width: 120px;
  height: 120px;
  font-size: 75%;
  cursor: pointer;
}

.round {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  padding-top: 70px;
  font-size: 275%;
}

.player-c {
  padding-left: 100px;
}

.computer-R {
  padding-right: 100px;
}
